/* Resetar página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Começa a contar o tamanho do elemento a partir da borda interna*/
}

body {
  background-image: url("../img/background.jpg");
  background-size: auto 100vh; /*100% da vh: viewport height*/
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  font-size: 12px;
}

/* Break point */
/* Mínimo 400px */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* Telas grandes */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh; /*Ocupa toda a altura da tela*/
  display: flex;
  justify-content: center; /*Funciona devido ao flex*/
  align-items: center; /*Funciona devido ao flex*/
}

.menu {
  background-color: white;
  position: fixed; /*Menu sempre fica accessível no topo da tela*/
  width: 100vw; /*Ocupar toda a largura da tela*/
  top: 0; /*Deixa no topo*/ /*Funciona devido ao position*/
  z-index: 1;
}

.menu ul {
  display: flex; /*Elemento fica um ao lado do outro - colunas*/
  justify-content: space-around; /*Espaçamento em toda a volta dos objetos*/
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color, 1s; /*especificação das propriedades e do tempo*/
}

.menu a:hover {
  background-color: teal;
  color: white;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;

  animation: linear 2s animacaoTitulo forwards; /*forwards: vai pra frente e para no último estado de animação*/
}

/* Funciona por porcentagens da animação */
@keyframes animacaoTitulo {
  /* Estado final da animação */
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-title,
.site-subtitle {
  color: whitesmoke;
  text-align: center; /*Alinhamento horizontal do texto*/
}

.site-title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 4em;
}

.site-subtitle {
  font-style: italic;
  line-height: 2.4em;
}

.contato,
.projetos {
  padding: 2em;
  min-height: 100vh; /*altura mínima*/
}

.contato h2,
.projetos h2 {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.projetos .grid {
  display: grid;
  gap: 2em; /*Defini o espaçamento entre as linhas e/ou colunas*/
}

@media (min-width: 560px) {
  .projetos .grid {
    grid-template-columns: 240px 240px; /*Defini o tamanho das colunas*/
  }
}

@media (min-width: 880px) {
  .projetos .grid {
    grid-template-columns: 240px 240px 240px; /*Defini o tamanho das colunas*/
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.projetos figure {
  text-align: center;
}

.img-projetos {
  height: 200px;
  width: 180px;
  object-fit: cover; /*mesma proporção mas preenchendo a altura e largura definidas anteriormente*/
  transition: transform 500ms;
}

.img-projetos:hover {
  transform: scale(1.2); /*escala padrão de qualquer elemento é 1*/
}

@media (min-width: 1200px) {
  .img-projetos {
    height: auto;
    width: 100%;
  }
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato:active, /*active: momento de ativação do elemento, no caso o clique do mouse*/
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
